@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Lobster&display=swap');


:root{
    --variableLargeur:1920;
    --hauteurDiaporama:943;
    --hauteurQuiSommesNous:457.5;
    --hauteurPechesTypes:784;
    --hauteurCarte:1068;
    --hauteurActualites:896;
    --valeurViewport:100vw;
    --premiereFontFamily:'Asap', sans-serif;
    --deuxiemeFontFamily:'Cinzel Decorative';
    --troisiemeFontFamily:'Asap Condensed', sans-serif;
    --quatriemeFontFamily:'Asap Condensed', sans-serif;
    --cinquiemeFontFamily:'Asap', sans-serif;
    --fontSiza20px:calc(20 * 100vw / 1920);
    --PremiereCouleurTexte:#ffffff;
    --deuxiemeCouleurTexte:#4D4D4D;
    --troisiemeCouleurTexte:#938A56;
    --backgroundColor1:#F8F5EF;
 
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* overflow:hidden; */
}

/* body{
    width:1920px
} */

nav{
    /* height:100px; */
    height:calc(100 * var(--valeurViewport) / 1920) ;
    width:100%;
   
  
}

nav ul{
    display:flex;
    align-items:center;
    height:100%;
    
}

nav ul li{
    list-style-type: none;
}

nav ul li:nth-child(2){
    /* margin-left:calc(800 / var(--variableLargeur)  * 100%); */
    margin-left:auto;
  
   
}

nav ul li svg{
    width:calc(65 * 100vw / 1920);
    height:auto;
}



nav ul li:nth-child(7){
    
    margin-right:calc( 73 / var(--variableLargeur) * 100%) ;
    /* margin-right:calc(73 * 100vw / 1920); */
  
 }

nav ul li:not(li:nth-child(7)) {
    padding-right:calc(45 / var(--variableLargeur) * 100%) ;
}  


nav ul li a{
    /* font-size:calc(7px + 1vw); */
    font-size:var(--fontSiza20px);
    /* font-size:20px; */
    text-decoration:none;
    color:var(--deuxiemeCouleurTexte);
    text-transform:uppercase;
    line-height:100px;
    font-family:var(--premiereFontFamily);
    /* width:54.5833333333% */
    width:clamp(calc(1048 / var(--variableLargeur) * 100%));
    white-space : nowrap

}

ul {
    padding-left:calc(80 / var(--variableLargeur) * 100%);
} 

.containerHeaderImage{
    /* height:100%; */
    height: calc(var(--hauteurDiaporama) * var(--valeurViewport) / 1920);
}

.containerDiapo1{
    height:100%;
    position:relative;
    
}

.containerHeaderImage .diaporamaImage{
    /* height:var(--hauteurDiaporama); */
    object-fit: cover;
    width:100%;
   
}

/* .diaporamaImage{
    width:100%;
    height:100%;
  
} */

.containerH2DiaporamaImage{
    top:calc(286 / var(--hauteurDiaporama) * 100%);
    height:calc(158 / var(--hauteurDiaporama) * 100%);
    position:absolute;
    left:50%;

    transform:translateX(-50%);
    z-index:2;
    width:calc(1128 / var(--variableLargeur) * 100%);
   
   
}

.containerDiapo1 h2{
   
   
    font: normal normal normal;
    font-weight: 400;
    font-size:calc(117 * 100vw / 1920);
   
      
    /* line-height:70px; */
    color:var(--PremiereCouleurTexte);
    font-family:var(--deuxiemeFontFamily);
    white-space:nowrap;
    /* font:normal normal normal 117px/70px Cinzel Decorative; */
    text-shadow: 10px 10px 20px #00000029;
    /* letter-spacing:2px; */
}


.containerPresentationDiaporamaImage{
    position:absolute;
    top:calc(438 / var(--hauteurDiaporama) * 100%);
    left:calc(541 / var(--variableLargeur) * 100%);
    width:calc(830 * var(--valeurViewport) / var(--variableLargeur))
   
    /* font-size:29px */
}

.containerPresentationDiaporamaImage p{
    color:var(--PremiereCouleurTexte);
    font-size:calc(29 * var(--valeurViewport)/ var(--variableLargeur));
    text-align:center;
    font-family:var(--premiereFontFamily)
    
}

.containerPlanDEauDiaporamaImage{
    position:absolute;
    width:calc(89 * var(--valeurViewport) / var(--variableLargeur));
    left:calc(928 * var(--valeurViewport) / var(--variableLargeur));
    top:calc(628 / var(--hauteurDiaporama) * 100%);
    height:calc(43 / var(--hauteurDiaporama) * 100%);
   

}

.containerPlanDEauDiaporamaImage p{
    font-family:var(--troisiemeFontFamily);
    text-transform:uppercase;
    color:var(--PremiereCouleurTexte);
    font-size:var(--fontSiza20px);
    line-height:calc(20 * var(--valeurViewport) / var(--variableLargeur));

}

.containerNomVilleDiaporamaImage{
    position:absolute;
    left:calc(928 * var(--valeurViewport) / var(--variableLargeur));
    top:calc(671 / var(--hauteurDiaporama) * 100%);
    width:calc(119 * var(--valeurViewport)/ var(--variableLargeur));
    height:calc(14 / var(--hauteurDiaporama) * 100%);
   

}

.containerNomVilleDiaporamaImage p{
    color:var(--PremiereCouleurTexte);
    font-size:calc(14 * var(--valeurViewport) / var(--variableLargeur));
    font-family:'Asap Condensed', sans-serif;
    letter-spacing:calc(1.2px * var(--valeurViewport) / var(--variableLargeur));
}

.containerComplementInformationDiaporamaImage{
    position:absolute;
    width:calc(470 * var(--valeurViewport) / var(--variableLargeur));
    top:calc(700/ var(--hauteurDiaporama) * 100%);
    /* height:calc(62 / var(--hauteurDiaporama) * 100%); */
    left:50%;
    transform:translatex(-50%);
}

.containerComplementInformationDiaporamaImage p{
    text-align:center;
    color:var(--PremiereCouleurTexte);
    font-size:calc(16 * var(--valeurViewport) / var(--variableLargeur));
    line-height:calc(22 * var(--valeurViewport) / var(--variableLargeur));
    font-family:var(--premiereFontFamily)
}

.containerComplementInformationDiaporamaImage p:nth-child(1){
    font-family:var(--cinquiemeFontFamily);
    font-weight:bold;
   
}

.containerComplementInformationDiaporamaImage p:nth-child(1),.containerComplementInformationDiaporamaImage p:nth-child(2){
    line-height:calc(22 * var(--valeurViewport) / var(--variableLargeur));
}

.containerBoutonDiaporamaImage{
    position:absolute;
    left:calc(906 * var(--valeurViewport) / var(--variableLargeur));
    top:calc(790 / var(--hauteurDiaporama) * 100%);
    width:calc(152 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(50 / var(--hauteurDiaporama) * 100%)
}

.containerBoutonDiaporamaImage button{
    width:100%;
    height:100%;
    color:var(--PremiereCouleurTexte);
    background-color:transparent;
    box-shadow: none;
    border:1px solid var(--PremiereCouleurTexte);
    font-family:var(--premiereFontFamily);
    font-size:var(--fontSiza20px);
    cursor:pointer;
}

.containerSvgFlecheGaucheDiaporamaImage{
    position:absolute;
    left:calc(1584 * var(--valeurViewport) / var(--variableLargeur));
    top:calc(817.5 / var(--hauteurDiaporama) * 100%);
    width:calc(52 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(52 / var(--hauteurDiaporama) * 100%)
}

.containerSvgFlecheGaucheDiaporamaImage svg{
    width:100%;
    height:100%;
    /* border: 1px solid var(--PremiereCouleurTexte);
    border-radius:50%; */
}

.containerSvgFlecheDroiteDiaporamaImage{
    position:absolute;
    left:calc(1649 * var(--valeurViewport) / var(--variableLargeur));
    top:calc(817.5 / var(--hauteurDiaporama) * 100%);
    width:calc(52 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(52 / var(--hauteurDiaporama) * 100%)
}

.containerSvgFlecheDroiteDiaporamaImage svg{
    width:100%;
    height:100%;
    /* color:var(--PremiereCouleurTexte);
    border: 1px solid var(--PremiereCouleurTexte);
    border-radius:50%; */
    /*#4d4d4d*/
}

.containerTraitEtChiffreADroiteDiaporamaImage{
    position:absolute;
    left:calc(1789 * var(--valeurViewport) / var(--variableLargeur));
    top:calc(300 / var(--hauteurDiaporama) * 100%);
    width:calc(16 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(344 * var(--valeurViewport) / var(--variableLargeur));
   
   
 
}

.containerTraitEtChiffreADroiteDiaporamaImage .trait1{
 
    display:block;
    width:calc(1 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(79 * var(--valeurViewport) / var(--variableLargeur));
    margin:auto;
    /* top:calc(300 / var(--hauteurDiaporama) * 100%); */
    /* height:calc(79 / calc(344 * var(--valeurViewport) / var(--variableLargeur)) * 100%); */
    /* height:81px; */
    background-color:rgb(136,135,133);
    margin-bottom:calc(14.5 * var(--valeurViewport) / var(--variableLargeur));
    /* top:calc(300 / var(--hauteurDiaporama) * 100%);
    left:calc(1797.5 * var(--valeurViewport) / var(--variableLargeur)); */
  
    /* transform:translateX(50%) */
}

.containerTraitEtChiffreADroiteDiaporamaImage .chiffre1{
  
    display:block;
    /* left:calc(1792 * var(--valeurViewport) / var(--variableLargeur));
    top:calc(400.5 / var(--hauteurDiaporama) * 100%); */
    width:calc(10 * var(--valeurViewport) / var(--variableLargeur));
    /* height:calc(30 / var(--hauteurDiaporama) * 100%); */
    height:calc(30 * var(--valeurViewport) / var(--variableLargeur));
    font-size:calc(30 * var(--valeurViewport) / var(--variableLargeur));
    /* line-height:calc(72 * var(--valeurViewport) / var(--variableLargeur)); */
    margin-bottom:calc(14.5 * var(--valeurViewport) / var(--variableLargeur));
   
}

.containerTraitEtChiffreADroiteDiaporamaImage .chiffre2{

    display:block;
    /* left:calc(1790 * var(--valeurViewport) / var(--variableLargeur)); */
    /* top:calc(440.5 / var(--hauteurDiaporama) * 100%); */
    width:calc(14 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(30 * var(--valeurViewport) / var(--variableLargeur));
    
    font-size:calc(30 * var(--valeurViewport) / var(--variableLargeur));
    /* line-height:calc(72 * var(--valeurViewport) / var(--variableLargeur)); */
    margin-bottom:calc(14.5 * var(--valeurViewport) / var(--variableLargeur));
    color:var(--troisiemeCouleurTexte);
}

.containerTraitEtChiffreADroiteDiaporamaImage .chiffre3{
   
    display:block;
    /* left:calc(1789 * var(--valeurViewport) / var(--variableLargeur));
    top:calc(480.5 / var(--hauteurDiaporama) * 100%); */
    width:calc(16 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(30 * var(--valeurViewport) / var(--variableLargeur));
    
    font-size:calc(30 * var(--valeurViewport) / var(--variableLargeur));
    /* line-height:calc(72 * var(--valeurViewport) / var(--variableLargeur)); */
    margin-bottom:calc(14.5 * var(--valeurViewport) / var(--variableLargeur));
}

.containerTraitEtChiffreADroiteDiaporamaImage .chiffre4{
 
    display:block;
    /* left:calc(1789 * var(--valeurViewport) / var(--variableLargeur));
    top:calc(520.5 / var(--hauteurDiaporama) * 100%); */
    width:calc(16 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(30 * var(--valeurViewport) / var(--variableLargeur));
    
    font-size:calc(30 * var(--valeurViewport) / var(--variableLargeur));
    /* line-height:calc(72 * var(--valeurViewport) / var(--variableLargeur)); */
    margin-bottom:calc(14.5 * var(--valeurViewport) / var(--variableLargeur));
}


.containerTraitEtChiffreADroiteDiaporamaImage .trait2{
  
    display:block;
    height:calc(79 * var(--valeurViewport) / var(--variableLargeur));
    /* left:calc(1797.5 * var(--valeurViewport) / var(--variableLargeur));
    top:calc(565 / var(--hauteurDiaporama) * 100%); */
    width:calc(1 * var(--valeurViewport) / var(--variableLargeur));
    /* height:calc(79 / calc(344 * var(--valeurViewport) / var(--variableLargeur)) * 100%); */
    /* height:81px; */
    background-color:rgb(136,135,133);
    margin:auto;
}

.containerTraitEtChiffreADroiteDiaporamaImage .chiffre1,.containerTraitEtChiffreADroiteDiaporamaImage .chiffre3,.containerTraitEtChiffreADroiteDiaporamaImage .chiffre4
{
    color:var(--PremiereCouleurTexte)
}

/*-------------------------------Qui Sommes nous-------------------------------*/


.containerQuiSommesNous{
    /* height:457.5px; */
    background-color:#F0EDE9;
    display:flex;
    justify-content:center;
    height: calc(var(--hauteurQuiSommesNous) * var(--valeurViewport) / 1920);
    position:relative
}

.titreQuiSommesNous {
    position:absolute;
    top:calc(62 / var(--hauteurQuiSommesNous) * 100%);
    left:calc(600 * var(--valeurViewport) / var(--variableLargeur));
    width:calc(712 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(99 / var(--hauteurQuiSommesNous) * 100%);
  
    /* margin:auto; */
}

.titreQuiSommesNous h2{
   
    font-size:calc(50 * var(--valeurViewport) / var(--variableLargeur));
    font-family:var(--deuxiemeFontFamily);
    font-weight:400;
    text-shadow: 10px 10px 20px #00000029;
    line-height:calc(70 * var(--valeurViewport) / var(--variableLargeur));
    white-space: nowrap;

    text-align:center;
    
  
    color: var(--deuxiemeCouleurTexte)
    /* padding-left:calc(694 * var(--valeurViewport) / var(--variableLargeur)); */
}

.titreQuiSommesNous p{
    font-size:var(--fontSiza20px);
    font-family:var(--premiereFontFamily);
    font-weight:400;
    line-height:calc(38 * var(--valeurViewport) / var(--variableLargeur));
    white-space: nowrap;
    color:var(--troisiemeCouleurTexte);
    text-align:center;
    text-transform:uppercase;
    letter-spacing: calc(6 * var(--valeurViewport) / var(--variableLargeur));
  
}

.paragrapheQuiSommesNous{
    position:absolute;
    top:calc(223 / var(--hauteurQuiSommesNous) * 100%);
    left:calc(392 * var(--valeurViewport) / var(--variableLargeur));
    width:calc(1128 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(74 / var(--hauteurQuiSommesNous) * 100%);
 
}

.paragrapheQuiSommesNous p{
    font-size:var(--fontSiza20px);
    font-family:var(--premiereFontFamily);
    line-height:calc(23 * var(--valeurViewport) / var(--variableLargeur));
    color:var(--deuxiemeCouleurTexte);
    text-align:center;
  
}

.boutonQuiSommesNous{
    position:absolute;
    /* left:calc(906 * var(--valeurViewport) / var(--variableLargeur));
    top:calc(342 / var(--hauteurQuiSommesNous) * 100%); */
    width:calc(152 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(50 / var(--hauteurQuiSommesNous) * 100%);
    margin-top: calc(330 * var(--valeurViewport) / var(--variableLargeur));
  
}

.boutonQuiSommesNous button{
    width:100%;
    height:100%;
    color:var(--troisiemeCouleurTexte);
    background-color:transparent;
    box-shadow: none;
    border:1px solid var(--troisiemeCouleurTexte);
    font-family:var(--premiereFontFamily);
    font-size:var(--fontSiza20px);
    cursor:pointer;
}

.pechesTypes{
    height: calc(var(--hauteurPechesTypes) * var(--valeurViewport) / var(--variableLargeur));
    display:flex;
    justify-content:center;
    align-items:center;
    gap:calc(38 * var(--valeurViewport) / var(--variableLargeur));


}


.pechesTypes .image{
    height: calc(624 * var(--valeurViewport) / var(--variableLargeur));
    width:calc(411 * var(--valeurViewport) / var(--variableLargeur));
    position:relative;
     
}

.pechesTypes .image img{
    /* height: calc(542 * var(--valeurViewport) / var(--variableLargeur)); */
    
    width:100%;
    object-fit: cover;
   
}

.pechesTypes .image .presentation{
    height: calc(160 * var(--valeurViewport) / var(--variableLargeur));
    width:calc(368 * var(--valeurViewport) / var(--variableLargeur));
  
    position:absolute;
    background-color: var(--backgroundColor1);
    left:50%;
    transform:translate(-50%,-50%);
  
    /* top:calc(464 * var(--valeurViewport) / var(--variableLargeur));
    left: calc(22 * var(--valeurViewport) / var(--variableLargeur)); */

}



.pechesTypes .image .presentation h3{
    position:absolute;
    color:var(--troisiemeCouleurTexte);
    font-size:calc(30 * var(--valeurViewport) / var(--variableLargeur));
    font-family:var(--deuxiemeFontFamily);
    top:calc(40 * var(--valeurViewport) / var(--variableLargeur));
    left:calc(40 * var(--valeurViewport) / var(--variableLargeur));
  
}

.pechesTypes .image .presentation h3 p{
    color:var(--deuxiemeCouleurTexte);
    font-size:var(--fontSiza20px);
    font-family:var(--premiereFontFamily);
    font-weight:400;
    white-space: nowrap;
    line-height:calc(23 * var(--valeurViewport) / var(--variableLargeur))
}



/*------------------------------Carte-----------------------*/

.containerCarte{
    /* height:457.5px; */
    background-color:var(--troisiemeCouleurTexte);
    /* background-image:url(img/visuel_fond_carte.png);
    background-size: cover; */
 
    height: calc(var(--hauteurCarte) * var(--valeurViewport) / 1920);
    position:relative;
    /* display: flex;
    justify-content: flex-end;
    background-repeat: no-repeat;
    width:100%; */
   
    
}

.containerDroit{
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
   position:relative;
    height:100%;
}

.containerCarte .BoutonVoirGoogleMap
{
    position:absolute;
    top:calc(923 * var(--valeurViewport) / var(--variableLargeur));
    right:calc(82 * var(--valeurViewport) / var(--variableLargeur) );
    width:calc(236 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(50 * var(--valeurViewport) / var(--variableLargeur));
}

.containerCarte .BoutonVoirGoogleMap button{
    width:100%;
    height:100%;
    color:var(--PremiereCouleurTexte);
    background-color:transparent;
    box-shadow: none;
    border:1px solid var(--PremiereCouleurTexte);
    font-family:var(--premiereFontFamily);
    font-size:var(--fontSiza20px);
    cursor:pointer;
    font-weight:normal;
}

.containerDroit img{
    object-fit: cover;
    top:calc(75.7  * var(--valeurViewport) / var(--variableLargeur));
    left:calc(1032.42 * var(--valeurViewport) / var(--variableLargeur));
    height: 100%;

}

.blocDeGauche{
    position:absolute;
    top:calc(51  * var(--valeurViewport) / var(--variableLargeur));
    left:calc(81 * var(--valeurViewport) / var(--variableLargeur));
    width:calc(890 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(942.15 / var(--hauteurCarte) * 100%);
 
   
}


.containerCarte .carteDeFrance {
    display:flex;
    justify-content:center;

}

.containerCarte .carteDeFrance svg{
    width:calc(304 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(304 / var(--hauteurCarte) / var(--variableLargeur));

}

.containerCarte .explication{
    margin-top:calc(7.01 * var(--valeurViewport) / var(--variableLargeur));
    width:calc(624 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(125 * var(--valeurViewport) / var(--variableLargeur)); 
    margin:auto;
  
  
}

.containerCarte .explication h3{
    font-family:var(--deuxiemeFontFamily);
    font-weight:bold;
    font-size:calc(26 * var(--valeurViewport) / var(--variableLargeur));
    text-align:center;
    color:var(--PremiereCouleurTexte);
    line-height:calc(30px * var(--valeurViewport) / var(--variableLargeur));
}

.containerCarte .explication p{
    font-family:var(--premiereFontFamily);
    font-weight:400;
    color:var(--PremiereCouleurTexte);
    text-align:center;
    /* font-size:calc(26 * var(--valeurViewport) / var(--variableLargeur)); */
    line-height:calc(30px * var(--valeurViewport) / var(--variableLargeur));
    font-size:calc(26 * var(--valeurViewport) / var(--variableLargeur)); 
   
}

.containerCarte .logo {
    display:flex;
    justify-content:center
}

.containerCarte .logo svg{
    /* margin:auto;
    width:100%; */
    margin-top:calc(26.33 * var(--valeurViewport) / var(--variableLargeur));
    width:calc(123.609 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(142.728 * var(--valeurViewport) / var(--variableLargeur));
}

.containerCarte .imageLieu{
    margin-top:calc(67.93 * var(--valeurViewport) / var(--variableLargeur));
    width:calc(879.23 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(269.1 * var(--valeurViewport) / var(--variableLargeur));
    box-shadow: 20px 20px 40px #00000019;
    position:relative;
    

}

.containerCarte .imageLieu img{
    /* width:100.7%;
    height:100.7%; */
    width:100%;
    height:100%;
    object-fit: cover;
    box-shadow: 20px 20px 40px #00000019;
    /* border:1px solid var(--PremiereCouleurTexte) */

}

.containerCarte .imageLieu .texte{
    position:absolute;
    top:calc(44.12 * var(--valeurViewport) / var(--variableLargeur));
    left:calc(48.69 * var(--valeurViewport) / var(--variableLargeur));
    width:calc(490 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(174 * var(--valeurViewport) / var(--variableLargeur))
}

.containerCarte .imageLieu .texte h3{
    font-family:var(--premiereFontFamily);
    font-size:calc(21 * var(--valeurViewport) / var(--variableLargeur));
    font-weight:bold;
    color:var(--deuxiemeCouleurTexte);
    line-height: calc(22 * var(--valeurViewport)/ var(--variableLargeur));
}

.containerCarte .imageLieu .texte p{
    font-family:var(--premiereFontFamily);
    font-size:calc(16 * var(--valeurViewport) / var(--variableLargeur));
    color:var(--deuxiemeCouleurTexte);
    line-height: calc(22 * var(--valeurViewport)/ var(--variableLargeur));
}

.containerCarte .imageLieu .divBouton{
    position:absolute;
    left:calc(707 * var(--valeurViewport) / var(--variableLargeur));
    top:calc(199 * var(--valeurViewport) / var(--variableLargeur));
    width:calc(152 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(50 * var(--valeurViewport) / var(--variableLargeur))
}

.containerCarte .imageLieu .divBouton button{
    width:100%;
    height:100%;
    color:var(--PremiereCouleurTexte);
    background-color:transparent;
    box-shadow: none;
    border:1px solid var(--PremiereCouleurTexte);
    font-family:var(--premiereFontFamily);
    font-size:var(--fontSiza20px);
    cursor:pointer;
    font-weight:normal;
    /* line-height: calc(48 * var(--valeurViewport)/ var(--variableLargeur)); */
    /* white-space: nowrap; */
}

.containerCarte .imageLieu  .divFleche{
    position:absolute;
    right:calc(21 * var(--valeurViewport) / var(--variableLargeur));
    top:calc(28.46 * var(--valeurViewport) / var(--variableLargeur));
    width:calc(51.5 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(39.532 * var(--valeurViewport) / var(--variableLargeur))
}

.containerCarte .BoutonVoirGoogleMap
{
    position:absolute;
    top:calc(923 * var(--valeurViewport) / var(--variableLargeur));
    right:calc(82 * var(--valeurViewport) / var(--variableLargeur) );
    width:calc(236 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(50 * var(--valeurViewport) / var(--variableLargeur));
}

.containerCarte .BoutonVoirGoogleMap button{
    width:100%;
    height:100%;
    color:var(--PremiereCouleurTexte);
    background-color:transparent;
    box-shadow: none;
    border:1px solid var(--PremiereCouleurTexte);
    font-family:var(--premiereFontFamily);
    font-size:var(--fontSiza20px);
    cursor:pointer;
    font-weight:normal;
}


/*----------------------------------Actualités ----------------------------------------*/

.containerActualites{
    /* height:457.5px; */
    background-color:var(--PremiereCouleurTexte);
  
    height: calc(var(--hauteurActualites) * var(--valeurViewport) / 1920);
    position:relative
}

.containerActualites h2{
    position:absolute;
    top:calc(48.61 * var(--valeurViewport) / var(--variableLargeur));
    left:calc(804 * var(--valeurViewport) / var(--variableLargeur) );
    width:calc(304 * var(--valeurViewport) / var(--variableLargeur));
    height:calc(68 * var(--valeurViewport) / var(--variableLargeur));
    font-size:calc(50 * var(--valeurViewport) / var(--variableLargeur));
    font-family:var(--deuxiemeFontFamily);
    text-transform: capitalize;
    font-weight:normal;
}

.containerActualites .containerSvActualites{
    display:flex;
    justify-content: center;
    gap:calc(37 *var(--valeurViewport) / var(--variableLargeur))
}

.containerActualites .containerSvActualites svg{
   
   
    margin-top:calc(118.29 * var(--valeurViewport) / var(--variableLargeur) );
    width:calc(32.019 *  var(--valeurViewport) / var(--variableLargeur));
    height:calc(36.971 * var(--valeurViewport) / var(--variableLargeur));
}

.containerActualites .imageContainerActualites{
    display:flex;
    width:calc(1757 * var(--valeurViewport) / var(--variableLargeur));
    /* margin:0 calc(82 * var(--valeurViewport) / var(--variableLargeur)); */
    justify-content: center;
}

.containerActualites .imageContainerActualites .containerActualitesInterieur{
    width:calc(412 *  var(--valeurViewport) / var(--variableLargeur));
    height:calc(624 * var(--valeurViewport) / var(--variableLargeur));
}